Repository whippingdot/Language-Tutorials, changes with the owners that CODEOWNERS names for each.
All owners: @Whippingdot, @cursorweb, @darkdarcool, @Rayyan06, @JBYT27, @MrIntellectual

CODEOWNERS:

* @Whippingdot

Cookeylang/ @cursorweb

Ruby/ @darkdarcool

Markdown/ @Whippingdot

C++/ @Whippingdot

Python/ @Whippingdot @darkdarcool @Rayyan06 @JBYT27

HTML/ @MrIntellectual

Update README.md
  README.md
Owners: @Whippingdot

Update README.md
  README.md
Owners: @Whippingdot

Added a few more files
  Markdown/2. Major-Formatting.md
  Markdown/3. Links.md
  Markdown/4. Images.md
Owners: @Whippingdot

Update 1. First Steps.md
  Cookeylang/1. First Steps.md
Owners: @cursorweb

Update 4. functions.md
  Python/4. functions.md
Owners: @Whippingdot, @darkdarcool, @Rayyan06, @JBYT27

grammarly ✅
  C++/0. Setup.md
  C++/1. print.md
  C++/2. Variables.md
  C++/3. Operators.md
  C++/4. Advanced-Operators.md
  C++/5. Scoping.md
  C++/6. Functions.md
  Cookeylang/1. First Steps.md
  DSMD/0. Intro.md
  DSMD/1. Headers.md
  HTML/1. intro.md
  HTML/2. headings.md
  HTML/4. text.md
  HTML/5. attributes.md
  Markdown/0. Some Words.md
  Markdown/1. Headings.md
  Markdown/2. Major-Formatting.md
  Markdown/3. Links.md
  Python/1. print.md
  Python/2. variables.md
  Python/3. operators.md
  Python/4. functions.md
  README.md
  Ruby/1. Strings.md
  Ruby/2. Variables.md
  Ruby/3. Functions.md
Owners: @Whippingdot, @cursorweb, @MrIntellectual, @darkdarcool, @Rayyan06, @JBYT27

Update README.md
  README.md
Owners: @Whippingdot
